<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <h1>Tight THREADS</h1>
    <a href="/clothes/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>>ADD THREADS</a>
    <a href="/clothes" <%- title === 'All Flights' ? 'class="active"' : '' %>>ALL THREADS</a>
  </nav>
  <main>
  
    